.game {
  padding: 15px;
}

.deck {
  display: inline-block;
  vertical-align: top;
}

.lake {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
}

.river {
  display: block;
}

.piledeck {
  vertical-align: top;
  display: inline-block;
  margin: 15px;
}
.piledeck div.card:first-child{
  display: block;
  margin-top: 0px;
}
.piledeck div.card{
  display: block;
  margin-top: -105px;
}

.pile {
  display: inline-block;
  padding: 15px;
  vertical-align:top;
}
.pile div.card:first-child{
  display: block;
  margin-top: 0px;
}
.pile div.card{
  display: block;
  margin-top: -85px;
}

.empty{
  display: inline-block;
  border: 1px solid lightgray;
  height: 104px;
  width: 67px;
  margin: 15px;
}

.blank{
  display: inline-block;
  height: 104px;
  width: 67px;
  margin: 15px;
  vertical-align: bottom;
}

.card {
  width: 69px;
  height: 106px;
}

button {
  position: absolute;
  bottom: 30px;
}