.deck {
  display: inline-block;
  margin-top: 50px;
}

.lake {
  display: inline-block;
  vertical-align:bottom;
  margin-left: 100px;
}

.river {
  display: block;
}

.piledeck {
  display: inline-block;
  padding: 15px;
  vertical-align: top;
}
.piledeck div.card:first-child{
  display: block;
  margin-top: 0px;
}
.piledeck div.card{
  display: block;
  margin-top: -111px;
}

.empty{
  display: inline-block;
  border: 1px solid lightgray;
  /* background-color: lightgreen; */
  height: 104px;
  width: 67px;
  margin: 15px;
}

.pile {
  display: inline-block;
  padding: 15px;
  vertical-align:top;
}
.pile div.card:first-child{
  display: block;
  margin-top: 0px;
}
.pile div.card{
  display: block;
  margin-top: -90px;
}

