.topRow {
  display: inline-block;
}

.deck {
  display: inline-block;
  padding: 8px;
  vertical-align:top;
}
.deck div.card:first-child{
  display: block;
  margin-top: 0px;
}
.deck div.card{
  display: block;
  margin-top: -111px;
}

.river {
  display: inline-block;
}

.empty{
  display: inline-block;
  border: 1px solid lightgray;
  height: 104px;
  width: 67px;
  margin: 15px;
}

.your-hand {
  padding: 15px;
}

.pile {
  display: inline-block;
  padding: 15px;
  vertical-align:top;
}
.pile div.card:first-child{
  display: block;
  margin-top: 0px;
}
.pile div.card{
  display: block;
  margin-top: -90px;
}

